extends layout.pug

block content
  h1= title
  
  ul
    each author in author_list
      li 
        a(href=author.url) #{author.name} 
        |  (#{author.authorborn} - #{author.authordied})
      li Author age is #{author.lifespan}
    else
      li There are no authors.
